/*! lil.css v0.1.0 | MIT License | github.com/hobochild/lil.css/ */
/* The Basics */
/* https://fireship.io/snippets/light-dark-mode-theme-css/ */
:root {
  --accent-color: 235,87,87;
  --sans-serif-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  --serif-font: Lyon-Text, Georgia, serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: 255 ,255, 255;
        --background-color: 17, 17, 17;
        --pre-background-color: 45, 51, 59;
        --code-background-color: 249, 245, 241;

        --color-prettylights-syntax-comment: #8b949e;
        --color-prettylights-syntax-constant: #79c0ff;
        --color-prettylights-syntax-entity: #d2a8ff;
        --color-prettylights-syntax-storage-modifier-import: #c9d1d9;
        --color-prettylights-syntax-entity-tag: #7ee787;
        --color-prettylights-syntax-keyword: #ff7b72;
        --color-prettylights-syntax-string: #a5d6ff;
        --color-prettylights-syntax-variable: #ffa657;
        --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
        --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
        --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
        --color-prettylights-syntax-carriage-return-text: #f0f6fc;
        --color-prettylights-syntax-carriage-return-bg: #b62324;
        --color-prettylights-syntax-string-regexp: #7ee787;
        --color-prettylights-syntax-markup-list: #f2cc60;
        --color-prettylights-syntax-markup-heading: #1f6feb;
        --color-prettylights-syntax-markup-italic: #c9d1d9;
        --color-prettylights-syntax-markup-bold: #c9d1d9;
        --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
        --color-prettylights-syntax-markup-deleted-bg: #67060c;
        --color-prettylights-syntax-markup-inserted-text: #aff5b4;
        --color-prettylights-syntax-markup-inserted-bg: #033a16;
        --color-prettylights-syntax-markup-changed-text: #ffdfb6;
        --color-prettylights-syntax-markup-changed-bg: #5a1e02;
        --color-prettylights-syntax-markup-ignored-text: #c9d1d9;
        --color-prettylights-syntax-markup-ignored-bg: #1158c7;
        --color-prettylights-syntax-meta-diff-range: #d2a8ff;
        --color-prettylights-syntax-brackethighlighter-angle: #8b949e;
        --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
        --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
    }

    
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: 17, 17, 17;
        --background-color: 255, 254, 252;
        --pre-background-color:  246, 248, 250;
        --code-background-color: 246, 248, 250;

        --color-prettylights-syntax-comment: #6e7781;
        --color-prettylights-syntax-constant: #0550ae;
        --color-prettylights-syntax-entity: #8250df;
        --color-prettylights-syntax-storage-modifier-import: #24292f;
        --color-prettylights-syntax-entity-tag: #116329;
        --color-prettylights-syntax-keyword: #cf222e;
        --color-prettylights-syntax-string: #0a3069;
        --color-prettylights-syntax-variable: #953800;
        --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
        --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
        --color-prettylights-syntax-invalid-illegal-bg: #82071e;
        --color-prettylights-syntax-carriage-return-text: #f6f8fa;
        --color-prettylights-syntax-carriage-return-bg: #cf222e;
        --color-prettylights-syntax-string-regexp: #116329;
        --color-prettylights-syntax-markup-list: #3b2300;
        --color-prettylights-syntax-markup-heading: #0550ae;
        --color-prettylights-syntax-markup-italic: #24292f;
        --color-prettylights-syntax-markup-bold: #24292f;
        --color-prettylights-syntax-markup-deleted-text: #82071e;
        --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
        --color-prettylights-syntax-markup-inserted-text: #116329;
        --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
        --color-prettylights-syntax-markup-changed-text: #953800;
        --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
        --color-prettylights-syntax-markup-ignored-text: #eaeef2;
        --color-prettylights-syntax-markup-ignored-bg: #0550ae;
        --color-prettylights-syntax-meta-diff-range: #8250df;
        --color-prettylights-syntax-brackethighlighter-angle: #57606a;
        --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
        --color-prettylights-syntax-constant-other-reference-link: #0a3069;
    }

    
}

p {
  margin: 0.9rem auto;
  font-family: var(--serif-font);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-variant-numeric: oldstyle-nums;
  text-size-adjust: 100%;
}

article {
  margin: 0;
}

article > * {
  /* 
    slightly unorthodox 
    we need to declare max-width on each child
    so that we can over-ride with blockquote.
  */
  max-width: 700px;
  margin: 0 auto;
}

a.anchor {
  text-decoration: none;
}

body {
  color: rgb(var(--text-color));
  background-color: rgb(var(--background-color));
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.55;
  font-family: Lyon-Text, Georgia, serif;
  padding: 45px 30px;
}

blockquote p, h1, h2, h3, h4, h5, h6 {
  font-family: var(--sans-serif-font);
  letter-spacing: -0.025rem;
  line-height: 1.2;
}

h1 {
  font-size: 5rem;
  margin: 4.5rem auto;
}

h2 {
  font-size: 4rem;
  margin: 3.5rem auto;
}

h3 {
  font-size: 3.5rem;
  margin: 3rem auto;
}

h3 {
  font-size: 2.5rem;
  margin: 2rem auto;
}

*, ::after, ::before {
  box-sizing: inherit;
}

a {
  color: rgb(var(--text-color));
}

a:hover {
  text-decoration: none;
  color: rgb(var(--accent-color));
}

mark {
  background: rgba(var(--accent-color), 0.4);
  color: rgb(var(--text-color))
}

ul {
  padding-inline-start: 2.2rem;
}

blockquote, dl, figure, form, ol, p, pre, table, ul {
  margin-bottom: 2.2rem;
}

img {
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}


img[src$='#round'] { border-radius: 100%;}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  border-radius: 0;
  line-height: 2.2rem;
  font-size: 1.6rem;
  color: #121212;
  border: 0.3rem solid #121212;
  padding: 0.4rem 1rem;
  cursor: pointer;
}

input[type="button"].filled,
input[type="reset"].filled,
input[type="submit"].filled {
  color: white;
}

button,
dd,
dt,
li,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  margin-bottom: 1.0rem;
}

/* The List */

li {
  margin: 0.9em 0px;
  padding: 0px 0px 0px 1em;
}

/* The Form */

fieldset {
  border-width: 0;
  padding: 0;
}

label, legend {
  display: block;
  font-weight: bold;
  margin-bottom: .5rem;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0.1rem solid #121212;
  border-radius: 0;
  box-shadow: none;
  box-sizing: inherit;
  padding: .6rem 1.0rem;
  width: 100%;
}

fieldset, input, select, textarea {
  margin-bottom: 1.5rem;
}

/* The Table */

table {
  width: 100%;
  border-spacing: 0;
  font-family: var(--sans-serif-font);
}

td, th {
  padding: 0.6rem 0;
}

td {
  border-bottom: 0.1rem solid rgba(var(--text-color), 0.1);
}

th {
  border-bottom: 0.2rem solid rgba(var(--text-color), 0.1);
  text-align: left;
}

pre {
  background-color: rgb(var(--pre-background-color));
  border-radius: 6px;
  font-size: 1.3rem;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
  line-height: 1.45;
}

pre > code {
  padding: 1rem 1.4rem;
  font-size: 1.6rem;
  white-space: pre;
  display: block;
}

code {
  font-family: var(--sans-serif-font);
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgb(var(--pre-background-color));
  border-radius: 3px;
  font-size: 14px;
  padding: 1px 5px;
  -webkit-box-decoration-break: clone;
}

hr {
  height: 1px;
  outline: none;
  border: none;
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 4.5rem auto;
  border-top: 1px solid rgba(var(--text-color), 0.1);
}

blockquote {
  max-width: 940px;
  text-align: center;
  margin: 4.5rem auto;
}

blockquote > p {
  font-weight: 800;
  font-size: 3.5rem;
}

details {
  margin: 4.5rem auto;
}

small, small a {
  color: rgba(var(--text-color), 0.5);
}

/* prism theme */

.highlight .token.keyword {
    color: var(--color-prettylights-syntax-keyword);
}
.highlight .token.operator,
.token.boolean,
.token.number {
    color: var(--color-prettylights-syntax-constant);
}
.highlight .token.function {
    color: var(--color-prettylights-syntax-entity);
}
.highlight .token.string {
    color: var(--color-prettylights-syntax-string);
}
.highlight .token.comment {
    color: var(--color-prettylights-syntax-comment);
}
.highlight .token.class-name {
    color: var(--color-prettylights-syntax-variable);
}
.highlight .token.regex {
    color: var(--color-prettylights-syntax-string);
}
.highlight .token.regex .regex-delimiter {
    color: var(--color-prettylights-syntax-constant);
}

.highlight .token.deleted {
  background: var(--color-prettylights-syntax-markup-deleted-bg)
}

.highlight .token.inserted {
  background: var(--color-prettylights-syntax-markup-inserted-bg)
}

.highlight .token.selector,
.highlight .token.attr-name,
.highlight .token.string,
.highlight .token.char,
.highlight .token.builtin,
.highlight .token.inserted {
  color: var(--color-prettylights-syntax-markup-inserted-text)
}


.highlight .token.tag {
  color: var(--color-prettylights-syntax-entity-tag)
}


.highlight .token.property,
.highlight .token.constant,
.highlight .token.symbol,
.highlight .token.deleted {
  color: var(--color-prettylights-syntax-markup-deleted-text)
}

.highlight .token.italic {
	font-style: italic;
}

.highlight .token.entity {
	cursor: help;
}

@media (prefers-color-scheme: dark) {
  mark {
    background: rgba(var(--accent-color), 0.8);
  }

  hr {
    border-top: 1px solid rgba(var(--text-color), 0.3);
  }

  small, small a {
    color: rgba(var(--text-color), 0.8);
  }

  td {
    border-bottom: 0.1rem solid rgba(var(--text-color), 0.3);
  }

  th {
    border-bottom: 0.2rem solid rgba(var(--text-color), 0.3);
    text-align: left;
  }
}
