:root {
  --background: rgba(255, 255, 248, 1);
  --foreground: rgba(17, 17, 17, 1);
  --foreground-muted: rgba(17, 17, 17, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151515;
    --foreground: rgba(221, 221, 221, 1); 
    --foreground-muted: rgba(221, 221, 221, 0.2);
  }
}

html {
  background: var(--background);
  color: var(--foreground);
  font-size: 6.25%;
  box-sizing: border-box;
  font-variant-numeric: oldstyle-nums;
  text-size-adjust: 100%;
  margin: 0;
  /* // Help prevent overflow of long words/names/URLs */
  overflow-wrap: break-word;
  /* // Optional, not supported for all languages */
  hyphens: auto;
}

html:disabled {
  color: var(--foreground-muted)
}

body {
  font-family: 'Source Serif Pro', serif;
  padding: 0;
  font-size: 20rem;
  line-height: 1.75;
}

a {
  color: var(--foreground);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

/* Typography scale: 1.250 (major third)  */
h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
  font-family: "Inter", "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif
}

h1 {
  font-size: 61.04rem;
}

h2 {
  font-size: 48.83rem;
}

h3 {
  font-size: 39.06rem;
}

h4 {
  font-size: 31.25rem;
}

h5 {
  font-size: 25rem;
}

small {font-size: 12.80rem;}

main {
  max-width: 700px;
  margin: auto;
}

img {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 100%;
}

li {
  margin: 0.9em 0px;
  padding: 0px 0px 0px 1em;
}

pre {
  padding: 10px;
  overflow: auto;
  font-size: 12.80rem;
}

/* if the code block already has  */
/* a class it's probably already highlighted */
/* by the zola syntax highlighter. */
code:not([class]) {
  /* color: #fd971f; */
  color: #da4939;
  font-size: 16rem;
}

footer {
  margin-bottom: 40px; 
}

nav {
  width: 100%;
}

nav ol {
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

nav img:hover  {
  filter: none;
  -webkit-filter: none; /* Safari 6.0 - 9.0 */
}

nav li {
  display: block;
}

nav li:first-child {
  margin-right: auto; 
  padding-left: 0;
}

blockquote {
  max-width: 940px;
  text-align: center;
  margin: 45px auto;
  font-weight: bold;
}

hr {
  border: 1px solid;
  border-color: var(--background);
  opacity: 1;
  margin: 45px 0;
}

mark {
  padding: 0px 5px;  
}

mark a {
  color: rgba(17, 17, 17, 1);
}

@media screen and (max-width: 700px) {
  main {
    padding: 0 20px;
  }
}
