<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page %}
  <title>{{ page.title }}</title>
  {% endif %}
  {% block rss %}
  <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path=" atom.xml", trailing_slash=false)
    }}">
  {% endblock %}
  <link rel="stylesheet" href={{ get_url(path="style.css" ) }} />
</head>

<body>
  <section class="section">
    <div class="container">
      <nav>
        <ol>
          <li><a href="/"><img class="logo" src="/profile.webp#round"
                alt="A picture of Craig with too much suntan lotion on his nose." width="50" height="50"></a>
          <li><a href="/">home</a></li>
          <li><a target="_blank" href="https://github.com/craigmulligan">github</a></li>
          <li><a href="/cv">cv</a></li>
        </ol>
      </nav>
      <article>
        {% block content %} {% endblock %}
      </article>
      <hr />
      <footer>
        <a href="/atom.xml">rss</a>
      </footer>
    </div>
  </section>
</body>

</html>
