<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if page %}
  <title>{{ page.title }}</title>
  {% endif %}

  {% if section %}
  <title>{{ section.title }}</title>
  {% endif %}

  {% block rss %}
  <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path=" atom.xml", trailing_slash=false)
    }}">
  {% endblock %}
  <link rel="stylesheet" href={{ get_url(path="style.css" , cachebust=true) }} />
</head>

<body>
  <section class="section">
    <main>
      <nav>
        <ol>
          <li><a href="/"><img class="logo" src="/face.webp"
                alt="A picture of Craig with too much suntan lotion on his nose." width="100" height="100"></a>
          <li><a href="/">home</a></li>
          <li><a target="_blank" href="https://github.com/craigmulligan">github</a></li>
          <li><a href="/cv">cv</a></li>
        </ol>
      </nav>
      <div>
        {% block content %} {% endblock %}
      </div>
      <hr />
      <footer>
        <a href="/atom.xml">rss</a>
      </footer>
    </main>
  </section>
</body>

</html>
